body{
  background-color:#00bfff;

  
}

.div1{
  position: absolute;
  left: 33%;




}

.img{
  width: 199px;

  height: 200px;

}

}
h1{
  text-align: center;
}
h1{
  text-align: center;
  font-style: italic;
}

.div2{
  position: absolute;
  padding:20px;
  width:39px;

  height: 15px;



}
