body{
  background-color:light green;
  margin:auto;
  text-aligin:center;
  

  
}

.div1{
  position: absolute;
  left: 33%;




}

.img{
  width: 100px;

  height: 100px;

}

}
h1{
  text-align: center;
}
h1{
  text-align: center;
  font-style: italic;
}

.div2{
  position: absolute;
  padding:20px;
  width:39px;

  height: 15px;



}
